body {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 27px;
}

span.input-group-text {
    font-size: 24px;
    padding: 0 10px;
}
input[type='text'] {
    font-size: 22px;
}

.search_block {
    max-width: 500px;
}