* {
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 20px;
}

.module-login {
    margin: 20vh auto;
    max-width: 500px;
}

.create_service__firstbutton button {
    position: fixed;
    font-size: 30px;
    width: 60px;
    /*height: 50px;*/
    border-radius: 50%;
    bottom: 40px;
    right: 40px;
    box-shadow: 0 3px 20px rgba(0, 0, 0, .25);
    z-index: 999;
}
#id_description {
    height: 100px;
}

.detail-content_block {
    margin-top: 20px;
}

@media screen and (max-width: 575px) {
    .list_info {
        margin-top: 20px;
        text-align: center;
    }

    .create_service__firstbutton button {
        bottom: 10px;
        right: 10px;
    }
}